<launch>

<rosparam file="$(find era_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="era" args="Motor_CL_position_controller Motor_BL_position_controller Motor_FL_position_controller Motor_FR_position_controller Motor_CR_position_controller Motor_BR_position_controller Joint_Rocker_Bogie_R_position_controller Joint_Rocker_Bogie_L_position_controller Joint_Rocker_R_position_controller Joint_Rocker_L_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/era/joint_states"/>
</node>

</launch>